<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application>
        <!-- The entire debug app: one terminal screen. -->
        <activity
            android:name=".ui.DebugActivity"
            android:exported="false" />

        <!-- Standalone debug app: launch straight into the console. -->
        <activity-alias
            android:name=".Launcher"
            android:targetActivity=".ui.DebugActivity"
            tools:replace="android:targetActivity" />
    </application>

</manifest>
