<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application>
        <!-- Debug-only screens; present only in the standalone debug app. -->
        <activity
            android:name=".ui.DebugActivity"
            android:exported="false" />

        <activity
            android:name=".ui.DiagnosticsActivity"
            android:exported="false" />

        <activity
            android:name=".ui.SelfTestActivity"
            android:exported="false" />

        <!-- Standalone debug app: launch straight into the Debug & test hub. -->
        <activity-alias
            android:name=".Launcher"
            android:targetActivity=".ui.DebugActivity"
            tools:replace="android:targetActivity" />
    </application>

</manifest>
